# $HOME/.config/systemd/user/goes16-background.service

[Unit]
Description=Update desktop background with satellite imagery

[Service]
Type=oneshot
ExecStart=<INSTALLATION_PATH>
