<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.cameronleger.goes16-background</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/goes16-background</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>900</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/goes16.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/goes16.out</string>
</dict>
</plist>
